BasedOnStyle: LLVM

IndentWidth: 2
UseTab: Never
TabWidth: 2

ColumnLimit: 100

BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
BreakBeforeBraces: Attach

BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: false


BreakAfterReturnType: Automatic
PenaltyReturnTypeOnItsOwnLine: 200
